@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-color: #e02f6b;
  --blue: #0000ff;
  --dark-blue: #18293c;
  --orange: #ffa500;
  --green-yellow: #cddc39;
  --pink-light: #72edf2;
  --cyan-light: #f067b4;
  --white: #ffffff;
  --whith-alpha-40: rgba(255, 255, 255, 0.4);
  --whith-alpha-25: rgba(255, 255, 255, 0.25);
  --backdrop-filter-blur: blur(5px);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
}
::after,
::before {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-weight: 300;
  background-attachment: fixed;
  background-image: linear-gradient(
    to bottom right,
    var(--pink-light),
    var(--cyan-light)
  );
  font-size: 16px;
  color: var(--dark-blue);
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  padding: 35px 15px;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-weight: 600;
}
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}

section {
  background-color: var(--whith-alpha-25);
  border: 1px solid var(--whith-alpha-40);
  min-height: calc(100vh - 70px);
  border-radius: 30px;
  backdrop-filter: var(--backdrop-filter-blur);
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
button {
  font-family: inherit;
  user-select: none;
}
